*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: ghostwhite;
}

header{
  color:#333;
  padding: 0.6em 0em;
  font-size: 20px;
}

hgroup{
  text-align: center;
  padding: 0.8em;
  font-size: 25px;
  color: #222;
}

h4{
  font-size: 24px;
  color: #333;
}

nav{
  background-color: #888;;
  height: 48px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

a{
  color:whitesmoke;
  padding: 0.8em 1.5em;
  text-decoration: none;
}

main{
  width:900px;
  margin: auto;
}

header > p{
  font-size: 16px;
  font-style: italic;
  color: #666;
  padding:0.5em ;
  border-bottom: 2px solid #888;
}

article{
  color:#333;
  box-shadow: 0px 0px 3px 0px #bbbaba;
  padding: 1.5em;
}

section{
  margin: 20px ;
  padding: 0.9em 0em;
  line-height: 1.5em;
  border-bottom: 1px solid #999;
}

section > header{
  font-size:20px
}

p {
  padding: 0.6em;
  font-size: 18px;
  color: #444;
  line-height: 1.5em;
}

mark{
  background-color: ghostwhite;
  color:#4fbb10
}

figure{
  width:800px;
  box-shadow: 0px 0px 3px 0px black;
}

figcaption{
  margin-top:0.2em;
  width:800px;
  display: flex;
  justify-content: center;
}

aside{
  background-color: #e0dfdf;
  height:200px;
  padding: 0.8em;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

footer{
  background-color: #8a8989;
  display: flex;
  justify-content: center;
}

footer > p{
  color:white;
}

dialog{
  position: relative;
  left:700px;
  top:20px;
  height: 100px;
  display: flex;
  align-items: center;
}